<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="Microsoft.Bcl.Compression" version="3.9.85" targetFramework="net45" />
  <package id="Mono.Security" version="3.2.3.0" targetFramework="net45" />
  <package id="Moq" version="4.2.1502.0911" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="PCLCrypto" version="0.5.2.14286" targetFramework="net45" />
  <package id="PCLStorage" version="1.0.2" targetFramework="net45" />
  <package id="Splat" version="1.6.1" targetFramework="net45" />
  <package id="Validation" version="2.0.5.14286" targetFramework="net45" />
</packages>